{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'symptom_checker/css/styles.css' %}"> 
    {% comment %} <link rel="stylesheet" href="{% static 'symptom_checker/css/sidebar.css' %}"> {% endcomment %}
    <title>Medcare | AI</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>
<body>
    {% comment %} New layout {% endcomment %}
    <div class="main-content col-lg-8 col-md-8 col-sm-12 themed-grid-col rounded bg-white shadow overflow-hidden mt-2 mb-2">

        {% comment %} Navigation {% endcomment %}

        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="h-font navbar-brand" href="#">MEDCARE</a>
              <div class="left-menu">
                  <a class="navbar-brand" href="#"><img src="images/profile.jpg" class="rounded-circle me-2" style="width:32px; height:32px" alt="">Masepela Winstan</a>
                  <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  
              </div>
              
              <div class="offcanvas offcanvas-end text-bg-light bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="h-font offcanvas-title text-light" id="offcanvasDarkNavbarLabel">MAIN MENU</h5>
                  <div class="left-menu">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="bi bi-speedometer2"></i> Dashboad</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-hospital"></i> Emergency Call</a>
                    </li>
          
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'chatbot' %}"><i class="bi bi-chat-right-dots-fill"></i> Chatbot</a>
                    </li> 
          
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-lungs"></i> My Health
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-break"></i> History</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-chat-right-text-fill"></i> Messages</a></li>
                        <li><a class="dropdown-item" href="nearby.php"><i class="bi bi-geo-alt-fill"></i> Near by</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-in-left"></i> Sign out</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>

        {% comment %} End Navigation {% endcomment %}
        
        <div class="body-content row">

            <div class="col-md-8 col-sm-12" data-bs-spy="scroll">
                <div class="system-content mt-4">

                    <div class="dash-deading bg-dark text-light text-center"><h4 class="p-3">Hello! Ash How can I help you today?</h4></div>
                    
                    <div class="row p-4 content-scroll">
                        <h5 class="card-title mb-2">Most searched topics</h5>
                        {% for feed in feeds %}
                        <div class="col-md-6 col-sm-12 mb-4">
                            <a href="" class="dash-card-link" style="text-decoration: none; color: #000;">
                                <div class="card rounded" style="width: 18rem;">
                                    {% comment %} <img src="images/deepcut.jpg" class="card-img-top" alt="..."> {% endcomment %}
                                    {% if feed.images %}
                                        <img  class="card-img-top  mb-4" src="{{ feed.images.url }}" alt="{{ feed.title }}" style="height: 5%;" />
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ feed.title }}</h5>
                                        <p class="card-text">{{ feed.description|truncatewords:10 }}.</p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated {{ feed.date_added }} ago</small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                    {% empty %}
                        <li>No feeds available.</li>
                    {% endfor %}
                </div>       
            </div>

            <!--system feeds-->
            
        </div>
        <div class="col-md-4 col-sm-12">

            <div class="feeds-picks mt-4 shadow rounded">
                <h5 class="header-feeds p-3">Awareness</h5>
                
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">
                        Teen Pregnancy Event Highlights Gaps in Sexual Health Services for Youth</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Yoliswa Sobuwa  October 22, 2024</p>
                    <small>Continue Reading »</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">KZN girl with rare skin condition robbed of a ‘normal’ life </h5>
                      <small class="text-body-secondary">3 days ago</small>
                    </div>
                    <p class="mb-1">Sandile Mbili  October 17, 2024.</p>
                    <small class="text-body-secondary">Continue Reading »</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Emalahleni grandpa denied care by two hospitals</h5>
                      <small class="text-body-secondary">3 days ago</small>
                    </div>
                    <p class="mb-1">Precious Mashiane  October 16, 2024</p>
                    <small class="text-body-secondary">Continue Reading »</small>
                  </a>
                </div>
            </div>

        </div>
    </div>
    {% comment %} End New layout {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'symptom_checker/js/scripts.js' %}"></script>
</body>
</html>
